<!DOCTYPE html>
<html lang="en">
<%- include('./templates/cabecera', {titulo: 'Página no encontrada'}) %>
<body>
    <%- include('./templates/navbar') %>
    <h1>Página 404</h1>
    <%- include('./templates/footer') %>
</body>
</html>