<!DOCTYPE html>
<html lang="en">
<%- include('./templates/cabecera', {titulo: 'Detalle de la mascota'}) %>
<body>
    <%- include('./templates/navbar') %>
    <div class="container">
        <h1>Detalle de la mascota</h1>
        <% if (error) { %>
            <h4> <%=mensaje%> </h4>
            <a href="/mascotas" class="btn btn-dark btn-block">Volver a mascotas</a>
        <% } %>
        <% if (!error) { %>
            <form id="formularioEditar"  data-id="<%=mascota.id%>">
                <input type="text" placeholder="Nombre"
                    class="form-control my-2" name="nombre" value="<%=mascota.nombre%>">
                <input type="text" placeholder="Descripcion"
                    class="form-control my-2" name="descripcion" value="<%=mascota.descripcion%>">
                <button class="btn btn-dark btn-sm" type="submit">Editar</button>
                <a href="/mascotas" class="btn btn-danger btn-sm">Cancelar</a>
            </form>
        <% } %>
    </div>
    <%- include('./templates/footer') %>

    <script>
        const formularioEditar = document.querySelector("#formularioEditar");
        formularioEditar.addEventListener('submit',async(e)=>{
            e.preventDefault();
            
            const nombre = formularioEditar.elements['nombre'].value;
            const descrip = formularioEditar.elements['descripcion'].value;
            const id = formularioEditar.dataset.id;

            try {
                const data = await fetch(`/mascotas/${id}`,{
                    method: 'PUT',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body:JSON.stringify({
                        nombre: nombre,
                        descripcion: descrip
                    })
                })
                const res = await data.json();
                
                if(res.estado){
                    window.location.href = "/mascotas";
                }else{
                    console.log(res.mensaje);
                }
            } catch (error) {
                
            }

        })
    </script>
</body>
</html>