<!DOCTYPE html>
<html lang="es">
<%- include('./templates/cabecera', {titulo: 'Pagina de inicio'}) %>
<body>
    <%- include('./templates/navbar') %>
    <h1>Index con EJS</h1>
    <h2><%= titulo %></h2>
    <%- include('./templates/footer') %>
</body>
</html>