<!DOCTYPE html>
<html lang="en">
<%- include('./templates/cabecera', {titulo: 'Mascotas'}) %>
<body>
    <%- include('./templates/navbar') %>
    <div class="container">
        <h1>Mascotas</h1>
        <a class="btn btn-success btn-block my-4" href="/mascotas/crear">Crear nueva mascota</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>
                        <tr>
                            <th scope="row"><%= mascota.id %></th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td>
                                <a class="btn btn-info" href="mascotas/<%= mascota.id %>">Editar</a>
                                <button class="btn btn-danger" 
                                    name="btnEliminar" 
                                    data-id="<%= mascota.id %>">Eliminar</button>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('./templates/footer') %>


    <script>
        const btnEliminar = document.getElementsByName("btnEliminar");
        btnEliminar.forEach(element => {
            element.addEventListener('click',async()=>{
                const id = element.dataset.id;
                
                try {
                    const data = await fetch(`mascotas/${id}`,{
                        method: 'delete'
                    });
                    
                    const res = await data.json();
                    
                    if(res.estado){
                        window.location.href = "/mascotas";
                    }else{
                        console.log(res.mensaje);
                    }
                } catch (error) {
                    console.log(error)
                }
            })
        });
    </script>

</body>
</html>