<!DOCTYPE html>
<html lang="en">
<%- include('./templates/cabecera', {titulo: 'Servicios'}) %>
<body>
    <%- include('./templates/navbar') %>
    <h1><%= tituloServicios %></h1>
    <%- include('./templates/footer') %>
</body>
</html>